.account_page_search{padding:2px 30px;line-height:3em;}
.account_submit_iframe{position: sticky;margin:2px auto;bottom:0px;width:100%;}
@media screen and (max-width: 635px) {
.form100 > label > select{width:80px;}
.form100 >  label >input[type="text"]{width:calc(100% - 160px);}
.form100  > label > input[type="button"]{width:160px;}
}

.account_main{max-width:1080px;display:grid;grid-template-columns:50% 50%;align-content: center;justify-content: center;grid-gap:5px;width:calc(100% - 10px);padding:5px;margin:0 auto;}
.account_main > div{display:grid;grid-template-columns:64px auto;border:1px solid gray;cursor:pointer;padding:5px;grid-gap:5px;width:calc(100% - 15px)}
.account_main > div >div:nth-child(1){min-height:64px;}
.account_main > div >div:nth-child(2){text-align:left;}

.account_icon_rca{background-image:url('../img/pos/64x64_account_rca.png'); background-repeat: no-repeat;}


@media screen and (min-width: calc(720px + 360px)) {
	.account_main{display:grid;grid-template-columns:33% 33% auto;}
}
@media screen and (max-width: calc(720px + 360px)) {
	.account_main{display:grid;grid-template-columns:33% 33% auto;}
}
@media screen and (max-width: 720px) {
	.account_main{display:grid;grid-template-columns:50% 50%;}
}
@media screen and (max-width: calc(360px + 180px)) {
	.account_main{display:grid;grid-template-columns:calc(100% - 2px );}
}

td.action >  a:nth-child(1){display:block;}
td.action >  a:nth-child(2){display:none;}
td.action >  a:nth-child(3){display:none;}


.account_rca_dashboard{border:1px solid gray;margin:20px auto;padding:5px;background-color:LightGray;width:calc(100% - 10px);}
.account_rca_dashboard> p{font-size:1.5em;text-align:center;font-weight:bold;margin:1px 0px 5px 0px;}
.account_rca_dashboard > div{display:grid;grid-template-columns:50% 50%;grid-gap:5px;width:calc(100% - 6px);}
.account_rca_dashboard > div > div.rca_n_member{/*background-image: linear-gradient(FireBrick, red);*/background-color:FireBrick;padding:5px 3px 0px 3px;color:white}
.account_rca_dashboard > div >   div > div:nth-child(1){font-family: monospace;font-size:1.5em;font-weight:bold;padding:5px 0px;}

.account_rca_pay{max-width:640px;width:calc(100% - 24px);border:1px solid gray;padding:10px 10px 20px 10px;}
.account_rca_pay > form > div.member_info{}
.account_rca_pay  > form> div.member_info> p.th{text-align:center;font-weight:bold;text-decoration: underline;margin:5px 2px;}
.account_rca_pay  > form> div.member_info> p.info{text-align:left;text-indent: 50px;}
.account_rca_pay > form > div.member_info  span{display:inline-block;position:relative;left:-5px;text-indent: 0px;padding: 0px 10px 0px 10px;border-bottom:2px dotted black;color:blue}
.account_rca_pay > form > div.member_info  span.pay_list{text-indent: 0px;padding: 0px 10px 0px 10px;border-bottom:2px dotted black;color:blue;text-align:right;width:100px;}
.account_rca_pay > form > div.member_info  span.pay{text-indent: 0px;padding: 0px 10px 0px 10px;border-bottom:2px dotted black;color:black;text-align:right;width:120px;font-weight:bold;}
.account_rca_pay  > form> div.member_info> div.list{text-align:left}
.account_rca_pay  > form> div.member_info> div.list > div:nth-child(2){display:none}
.account_rca_pay  > form> div.member_info> div.list  input[type="checkbox"]{ pointer-events: none;}
.account_rca_pay  > form> div.member_info> div.sum{text-align:right;padding-right:20px;}
.account_rca_pay  > form> div.member_info> div.sum input{width:calc(100% - 4px); direction: rtl;font-weight:bold;color:blue;padding-right:12px;}
.account_rca_pay  > form> div.member_info> div.sum >div{padding:5px 0px;}
.account_rca_pay  > form> div.member_info> div.payu{border:1px solid gray;margin-top:20px;display:none;}
.account_rca_pay  > form> div.member_info> div.payu >div:nth-child(1){position:relative;top:-12px;text-align:right;padding-right:20px;}
.account_rca_pay  > form> div.member_info> div.payu >div:nth-child(1) > span{background-color:white;padding:1px 5px;border-bottom:0px}

.rcapay_time_log_date_th{background-color:gray;color:white;padding:5px;position: sticky;top:25px;z-index:1}
.rcapay_time_log_span{cursor:pointer;}
.rcapay_time_log_note_disc{display:inline-block;padding:10px;}
.me_time_log_img_bill{display:block;margin:0 auto;padding:10px 10px 0px 10px;max-width:404px;background-color:white; }
.me_time_log_img_bill > img{width:calc(100% - 0px);}
