main{padding:0px;text-align:center;display:inline-block;}
.icon{display:inline-block;width:100px;height:42px;overflow:hidden;border:0px solid green;margin: 7px 7px;padding-top:64px;text-align:center;/*float:left*/;cursor:pointer;background-position:center top;background-repeat: no-repeat;}
.icon_sell{background-image:url('../img/pos/64x64_sell.png')}
.icon_in{background-image:url('../img/pos/64x64_in.png')}
.icon_product{background-image:url('../img/pos/64x64_product.png')}
.icon_unit{background-image:url('../img/pos/64x64_unit.png')}
.icon_group{background-image:url('../img/pos/64x64_group.png')}
.icon_partner{background-image:url('../img/pos/64x64_partner.png')}
.icon_prop{background-image:url('../img/pos/64x64_prop.png')}
.icon_user{background-image:url('../img/pos/64x64_user.png')}
.icon_member{background-image:url('../img/pos/64x64_member.png')}
.icon_bills{background-image:url('../img/pos/64x64_bills.png')}
.icon_ret{background-image:url('../img/pos/64x64_ret.png')}
.icon_it{background-image:url('../img/pos/64x64_it.png')}
.icon_day{background-image:url('../img/pos/64x64_day.png')}
.icon_barcode{background-image:url('../img/pos/64x64_barcode.png')}
.icon_payu{background-image:url('../img/pos/64x64_payu.png')}
.icon_account{background-image:url('../img/pos/64x64_account.png')}
.icon_device{background-image:url('../img/pos/64x64_device.png')}
.icon_account{background-image:url('../img/pos/64x64_account.png')}
.icon_time{background-image:url('../img/pos/64x64_time.png')}
.icon_tool{background-image:url('../img/pos/64x64_tool.png')}
.icon_setting{background-image:url('../img/pos/64x64_setting.png')}
.icon_cd{background-image:url('../img/pos/64x64_cd.png')}

