th{font-size:12px;}
td{vertical-align: middle;}
.it_product_page_search{padding:2px 30px;}

.it0{}
.it0 tr > td:nth-child(3) > div{display:none}

#it_view{max-width:800px}

#it_view  tr > td:nth-child(6) > div:nth-child(2){display:none;font-size:12px;color:#555555;text-align:right;padding-right:10px;}
#it_view  tr > td:nth-child(7) > div:nth-child(2){display:none;font-size:12px;color:#555555;text-align:right;padding-right:2px;}
#it_view  tr > td:nth-child(9) > div:nth-child(2){display:none;font-size:12px;color:#555555;text-align:right;padding-right:2px;}
#it_view_lot{}
#it_view_lot  tr > td:nth-child(2) > p{text-align:right;padding-right:5px;color:#555555;font-size:12px;}
#it_view_lot tr > td:nth-child(2) {word-break: break-all}
#it_view_lot tr > td:nth-child(4) > div:nth-child(2){font-size:12px;color:#555555;text-align:right;padding-right:2px;}
#it_view_lot tr > td:nth-child(4) > div:nth-child(1) > span{display:none}
#it_view_lot tr > td:nth-child(4) > div:nth-child(2) > span{display:none}
#it_view_lot tr > td:nth-child(7) > div:nth-child(2){display:none;font-size:12px;color:#555555;text-align:right;padding-right:2px;}

#it_view_lot td.action >  a:nth-child(1){display:block;}
#it_view_lot td.action >  a:nth-child(2){display:none;}
#it_view_lot td.action >  a:nth-child(3){display:none;}
#it_view_lot td.action >  a:nth-child(4){display:none;}
#it_view_lot td.action >  a:nth-child(5){display:none;}
#it_view_lot td.action >  a:nth-child(6){display:none;}



/*****************************************************************/
.divar{text-align:center;font-size:30px;}
.it_m_product{width:100%;}
.it_m_product > tr > td:nth-child(2){width:55px;}
.it_m_product > tr > td:nth-child(2) > input{width:calc(100% - 8px)}
.it_m_product > tr > td:nth-child(3){text-align:left;width:60px; word-break: break-all;}
.it_m_product1{width:100%;}
.it_m_product1 > tr > td:nth-child(1){width:30px;}
.it_m_product1 > tr > td:nth-child(3){width:55px;}
.it_m_product1 > tr > td:nth-child(3) > input{width:calc(100% - 8px)}
.it_m_product1 > tr > td:nth-child(4){text-align:left;width:60px; word-break: break-all;}
.it_m_product1 > tr  td.select{cursor:pointer}
/******************************************************************/
@media screen and (max-width: 640px) {
.it0 tr > th:nth-child(2){display:none;}
.it0 tr > td:nth-child(2){display:none;}
.it0 tr > td:nth-child(3) > div{display:block;font-size:12px;text-align:right;padding-right:2px;color:blue}
#it_view tr > th:nth-child(2){display:none;}
#it_view tr > th:nth-child(4){display:none;}
#it_view tr > th:nth-child(5){display:none;}
#it_view tr > th:nth-child(10){display:none;}
#it_view tr > td:nth-child(2){display:none;}
#it_view tr > td:nth-child(4){display:none;}
#it_view tr > td:nth-child(5){display:none;}
#it_view tr > td:nth-child(10){display:none;}
#it_view tr > td:nth-child(6) > div:nth-child(2){display:block;}
#it_view tr > td:nth-child(9) > div:nth-child(2){display:block;}

#it_view_lot tr > th:nth-child(3){display:none;}
#it_view_lot tr > td:nth-child(3){display:none;}
#it_view_lot tr > th:nth-child(8){display:none;}
#it_view_lot tr > td:nth-child(7) > div:nth-child(2){display:block;}
#it_view_lot tr > td:nth-child(8){display:none;}
#it_view_lot tr > td:nth-child(4) > div:nth-child(2) > span{display:inline-block}
.pd_search > form > label > select{width:80px;}
.pd_search >form >   label >input[type="text"]{width:calc(100% - 160px);}
.pd_search > form > label > input[type="button"]{width:60px;}
}
@media screen and (max-width: 375px) {
#it_view_lot tr > th:nth-child(5){display:none;}
#it_view_lot tr > td:nth-child(5){display:none;}
#it_view_lot tr > td:nth-child(4) > div:nth-child(1) > span{display:inline-block;font-size:12px;text-align:right;padding-right:2px;}
#it_view_lot  tr > th:nth-child(9) {word-break: break-all;}
}

.it_note{padding:10px;text-align:left}
.it_note > span{padding:2px 10px;}

.it_move_success_option{width:calc(100% - 40px);padding:20px 20px 0px 20px;text-align:center}
.it_move_success_option > input{width:calc(100% - 6px);}
