.me_time{border:1px solid gray;margin:20px auto;padding:5px;background-image: linear-gradient(PowderBlue, white);max-width:360px;}
.me_time > p{font-size:1.5em;text-align:center;font-weight:bold;margin:1px 0px 5px 0px;}
.me_time > div{display:grid;grid-template-columns:50% 50%;grid-gap:5px;width:calc(100% - 6px)}
.me_time > div > div{padding:5px 3px;}
.me_time > div > div >  div:nth-child(1){font-family: monospace;}
.me_time > div > div >  input{width:100%;}
.me_time > div >div.me_pos{background-color:DarkBlue;color:white}
.me_time > div >div.me_drawers{background-color:Black;color:white}
.me_time > div >div.start_time{background-color:SaddleBrown;color:white}
.me_time > div >div.time_id{background-color:green;color:white}
.me_time > div >div.money_start{background-color:DimGray;color:white}
.me_time > div >div.money_balance{background-color:Moccasin}
.me_time > div > div >div{font-size:1.2em;font-weight:bold;}
.me_time > div:nth-child(3) {display:grid;grid-template-columns:100%;width:100%;}
.me_time > p > span.me_drawers_wn{display:block;font-size:0.8em}

.me_min{display:grid;grid-template-columns:80px auto;padding:0px 3px;}
.me_min > div:nth-child(1) > div{height:100%;background-image: url('../img/pos/64x64_device_drawers.png') ;background-repeat:no-repeat;background-position:center bottom;}
.me_min > div.min:nth-child(1){background-color:white;background-image:linear-gradient(PowderBlue, white);text-align:center;font-size:0em;}
.me_min > div.mout:nth-child(1){background-color:white;background-image:linear-gradient(LimeGreen, white);text-align:center;font-size:0em;}
.me_min  > div:nth-child(1) > div > div.min{display:grid;align-content:end;justify-content:center;font-size:48px;height:0%;animation-name:min;animation-duration:2s;animation-iteration-count:infinite;}
.me_min  > div:nth-child(1) > div > div.mout{display:grid;align-content:end;justify-content:center;font-size:48px;height:0%;animation-name:mout;animation-duration:2s;animation-iteration-count:infinite;}
.formg{}
.formg input[type="text"],.formg input[type="number"]{width:calc(100% - 18px);padding-left:10px;}
.formg > div {background-color:transparent;margin:0 auto;border:0px solid gray;padding:5px 5px 5px 5px;width:calc(100% - 12px);}
.formg_label{float:right;position:relative;top:26px;left:-20px;line-height:20px;background-color:transparen;font-size:1em;transition-duration:0.3s;padding:0px 3px;color:gray;margin-bottom:0px;}
.formg_label_focus{float:right;position:relative;top:10px;left:-20px;line-height:20px;font-size:0.9em;transition-duration:0.3s;background-image: linear-gradient(#eeeeee, #eeeeee,#ffffff,transparent);padding:0px 3px;color:blue;margin-bottom:0px}
@keyframes min {
	0%   {height:calc(0% - 0px);font-size:48px;}
	/*10%  {height:calc(50px);font-size:48px;}*/
	50%  {height:calc(50%  );font-size:48px;}
	100%  {height:calc(100% - 32px);font-size:1px;}
}
@keyframes mout {
	0%   {height:calc(100% - 32px);font-size:1px;}
	50%  {height:calc(50%  );font-size:48px;}
	100%  {height:calc(0% - 0px);font-size:48px;}
}
.me_min_pn{font-family: monospace;}

.me_time_log_disc_head{display:grid;grid-template-columns:50% 50%;padding:5px 5px;}
.me_time_log_note{padding:2px 5px;cursor:pointer}
.me_time_log_date_th{background-color:gray;color:white;padding:5px;position: sticky;top:25px;z-index:1}
.me_time_log_note_disc{display:inline-block;padding:10px;}

.me_bt_rmore_logout{width:calc(100% - 4px);}
.me_time_log_span{cursor:pointer;}
.me_time_log_img_bill{display:block;margin:0 auto;padding:10px 10px 0px 10px;max-width:404px;background-color:white; }
.me_time_log_img_bill > img{width:calc(100% - 0px);}
