.me_time{border:1px solid gray;margin:20px auto;padding:5px;background-color:PowderBlue}
.me_time > p{font-size:1.5em;text-align:center;font-weight:bold;margin:1px 0px 5px 0px;}
.me_time > div{display:grid;grid-template-columns:50% 50%;grid-gap:5px;width:calc(100% - 6px)}
.me_time > div > div{padding:5px 3px;}
.me_time > div > div >  div:nth-child(1){font-family: monospace;}

.me_time > div >div.start{background-color:SaddleBrown;color:white}
.me_time > div >div.money_start{background-color:DimGray;color:white}
.me_time > div >div.money_balance{background-color:Moccasin}
.me_time > div > div >div{font-size:1.3em;font-weight:bold;}

