/*--apt DIY_POS;--ext css;--version 0.0;*/
#userprinter{border:1px solid #aaaaaa;background-color:#ffffff;cursor:pointer;border-radius: 3px 3px 3px 3px;padding:2px;}
.changePt{font-size:14px;}
.changePt form p{text-align:left;color:black}
